:root {
  --primary-font-colour: hsl(192, 85%, 22%);
  --font-colour: hsl(192, 95%, 68%), 95%, 68%;
  --bg-colour: hsl(192, 50%, 91%);
  --disabled-colour: hsl(0, 0%, 37%);
  --title-font: "PT Serif", serif;
  --main-font: "arial";
}

* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    180deg,
    hsla(192, 100%, 78%, 0.604) 25%,
    hsl(0, 0%, 100%) 50%
  );
  background-repeat: no-repeat;
}
main {
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

label,
input,
button {
  font: inherit;
  color: inherit;
  justify-content: center;
  padding: 1vmin;
  height: auto;
  margin: 0.6vmin;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
.App {
  text-align: center;
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
  margin: auto;
  justify-content: center;
  padding: 0;
  display: flex;
}

p {
  padding-bottom: 2rem;
}
#avatar {
  height: 20vmin;
  margin: 2rem;
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.2),
    0 6px 20px 0 hsla(0, 0%, 0%, 0.19);
  border-radius: 50%;
}

ul {
  border-color: var(--primary-font-colour);
  margin: 0;
  padding: 0;
}
.Container {
  border: 10px black;
}
.snakey__snake {
  height: 2.4rem;
  width: 2.4rem;
  background-color: var(--font-colour);
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.2),
    0 1px 5px 0 hsla(0, 0%, 0%, 0.19);
}

.snake__food {
  height: 2.4rem;
  width: 2.4rem;
}

.blank__sq {
  opacity: 0;
  height: 2.4rem;
  width: 2.4rem;
}
.app__logo {
  height: 24vmin;
  padding: 2.4vmin;
}

@media only screen and (max-width: 600px) {
  .App {
    width: auto;
  }
}
